<div id="<%= dom_id comment %>">
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= comment.response %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Shot:</strong>
    <%= comment.shot_id %>
  </p>

</div>
